*{
  margin: 0;
  padding: 0;
}
header{
    background-color: #FFF8F3;
    background-image: url('/images/header_bg.png'),url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 230px 210px;
 padding-top: 150px;
}
.nav-title{
  font-size: 45px;
  font-weight: bold;
} 
nav ul{
display: flex;
align-items: center;
}
nav ul li{
  list-style-type: none;
  margin-right:80px ;
  font-size: 20px;
}
.arr{
    color: #FD6E0A;
}
.btn{
    height: 54px;
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* Banner Part */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px 210px;
}
.sub-title{
font-size: 45px;
font-weight: bold;
}
.main-title{
 font-size: 85px;
 font-weight: bolder;
}
.banner-desc{

}
.cont{
  height: 54px;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}
/* Main Section */
main{
  max-width: 1140px;
  margin: 0 auto;
}


/* About Me Section */
.about{
margin-top: 116px;
background-color: #FFF8F3;
padding: 145px 125px 147px 178px;
margin-bottom: 144px;
}
.about-title{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about-description{
   font-size: 18px;
   margin-bottom: 30px;
   text-align:center;
}
.info-container{
  display: flex;
  justify-content: space-around;
}
.info-name{
  font-size: 20px;
}
.info-details{
  font-size: 20px;
  font-weight: bold;
}
/* What I Do Section */
.what-i-do{

}
.wid-title{
 font-size: 35px;
 text-align: center;
}
.wid-desc{
height: 90px;
margin: 30px 0 40px 0;

text-align: center;
}
.skill-container{
  display: flex;
  gap: 25px;
}
.skill{
padding: 30px;
border: 1px solid green;
border-radius: 5px;
box-shadow: gray;
}
.skill-title{
font-size: 20px;
margin: 30px 0 20px 0;
}
.skill-desc{

}
/* Resume */
.summary{
  margin-top: 130px;
}
.resume{
  display: flex;
  gap: 70px;
}
.resume-title{
  text-align: center;
  font-size: 35px;
  margin-bottom: 113px;
}
.resume-head{
  font-size: 30px;
  margin-bottom: 30px;
}
.edu-title{
  font-size: 25px;
  margin-bottom: 10px;
}
.name{
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 20px;
}
.edu-desc{
  
}
.my-edu{
  border-bottom: 1px solid black;
  padding-right: 40px;
  padding-bottom: 30px
}
.my-ex{

  border-bottom: 1px solid black;
  padding-right: 40px;
  padding-bottom: 30px;
}
#resum{
  margin-top: 40px;
 
}
.ntn{
 text-align: center;
}
/* Footer */
footer{
  background-color: #FFF8F3;
  margin-top: 115px;
  padding-top: 130px;
  padding-bottom: 130px;
}
.foot{
  display: flex;
  justify-content: space-evenly;
}
.left-title{
  font-size: 35px;
  margin-bottom: 28px;
}
.left-desc{
 width: 562px;
 height: 56px;
}
#name{
width: 461px;
height: 64px;
}
#email{
 margin: 24px 0 24px 0;
 width: 461px;
height: 64px;
}
#area{
  width: 461px;
  height: 180px;
  margin-bottom: 24px;
  border: 0;
}
:placeholder-shown{
  font-size: 20px;
  padding-left: 30px;
}
input{
  border: 0;
}